html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
}

.d-none {
  display: none;
}

.header {
  height: 96px;
  border-bottom: 1px solid orange;
  position: fixed;
  width: 100%;
}

.logo {
  float: left;
  margin-top: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  position: relative;
  left: 700px;
  top: 25px;
  font-family: roboto;
}

.nav-bar li {
  padding: 15px;
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.slider-items {
  margin-top: 250px;
  margin-left: 100px;
  color: white;
  position: absolute;
}

.inicio {
  background-image: url("../images/slider-1.png");
  background-size: cover;
  height: 800px;
  width: 100%;
}

.slider-item a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #E0752F;
  border-radius: 20px;
  font-size: 1.6rem;
  padding: 15px;
}

.slider-item h2 {
  font-size: 2.0rem;
  text-align: left;
  font: normal normal 600 48px/48px poppins;
  letter-spacing: 0.67px;
  color: #FFFFFF;
  opacity: 1;
}

.slider-item p {
  font-size: 1.3rem;
  text-align: left;
  font: normal normal medium 16px/21px Roboto;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
}

.slider-nav li {
  margin-top: 15px;
  color: #E0752F;
  padding: 5px;
  display: inline-block;
}

.about_section {
  width: 1366px;
  height: 672px;
  top: 912px;
  left: 0px;
  width: 32px;
  height: 384px;
  background: #E0752F 0% 0% no-repeat padding-box;
  opacity: 1;
}

.about_section span {
  color: #E0752F;
}

.about_section h2 {
  margin-left: 400px;
  width: 402px;
  height: 100px;
  font: normal normal 600 39px/45px Poppins;
  letter-spacing: 0.55px;
  opacity: 1;
  font-family: roboto;
}

.about_section p {
  margin-left: 400px;
  width: 768px;
  height: 197px;
  letter-spacing: var(--unnamed-character-spacing-0-22);
  text-align: left;
  letter-spacing: 0.22px;
  color: #343434;
  opacity: 1;
  font-family: roboto;
}

.section {
  height: 100vh;
  min-height: 800px;
}

.products {
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #F2F4F1), color-stop(25%, #DCE1DA));
  background: linear-gradient(90deg, #F2F4F1 75%, #DCE1DA 25%);
  padding-top: 100px;
  padding-bottom: 100px;
}

.products__content {
  width: 100%;
  height: 552px;
  max-width: 1120px;
  margin: auto;
  background-image: url("../images/section3-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.products__cards {
  background-color: #E0752F;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 470px;
  height: 170px;
  padding: 50px;
  color: #ffffff;
  font-family: roboto;
}

.products__cards h3, .products__cards h2 {
  color: #ffffff;
  line-height: 1;
}

.products__cards h3 {
  margin: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-family: poppins;
}

.products__cards h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  font-size: 39px;
  font-family: roboto;
}

.products__card-navs {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.products {
  height: 600px;
}

.products__cards img {
  left: 150px;
}

.services_section {
  background-image: url(../images/section4-image.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 0px;
  width: auto;
  height: 800px;
}

.accordion {
  max-width: 600px;
  border-radius: 5px;
  background: #F8F8F8;
  margin-left: 350px;
  position: relative;
  top: 150px;
}

.accordion__label,
.accordion__content {
  padding: 14px;
}

.accordion__label {
  display: block;
  color: black;
  cursor: pointer;
  font-family: roboto;
}

.accordion__label::after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 12px;
  height: 6px;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.form {
  top: 3271px;
  padding-left: 50px;
  padding-top: 80px;
  width: 450px;
  height: 345px;
  opacity: 1;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #F2F4F1), color-stop(25%, #DCE1DA));
  background: linear-gradient(90deg, #F2F4F1 75%, #DCE1DA 25%);
  padding-top: 100px;
  padding-bottom: 90px;
  width: 100%px;
  height: 768px;
  position: relative;
}

.form input, textarea {
  width: 100%;
}

.form h3 > span {
  color: #E0752F;
  font-family: poppins;
}

.form h3 {
  text-align: left;
  font-size: 39px;
  letter-spacing: 0.55px;
  opacity: 1;
  font-family: 600 poppins;
}

.contact img {
  bottom: 250px;
  margin-left: 700px;
  height: 400px;
  width: 594px;
  position: relative;
}

.form a {
  position: absolute;
  top: 700px;
  padding-top: 10px;
  border-radius: 60px;
  width: 125px;
  height: 30px;
  background: #E0752F;
  color: white;
  opacity: 1;
  text-align: center;
}

.form label {
  font-family: roboto;
}
.footer {
  border: solid #343434;
  background-color: #343434;
  left: 0px;
  width: 100%;
  height: 96px;
  position: relative;
}

.footer_logo {
  right: 85px;
  top: 40px;
  position: absolute;
}

.derechos {
  color: white;
  margin-left: 50px;
  margin-top: 40px;
}
/*# sourceMappingURL=styles.css.map */